/ Content
.content
  / Page Header
  .page-header
    .container
      .sixteen.columns
        %h1.page-title
          Pricing Table
          %span our awesome pricing plans
        %ul.breadcrumb
          %li
            %a{:href => "#"} Home
            %span.divider »
          %li.active Pricing Table
  / Start Content
  .container.main
    .sixteen.columns
      .row
        .pricing-tables.four-tables
          / Pricing Table 1-4
          .pricing-table
            .table-header
              .name Personal
            .table-price
              .price
                %span> $
                99
              .price-description
                per month
            .table-features
              %ul
                %li Fully Responsive Layout
                %li Retina Display Ready
                %li Clean and Professional Design
                %li W3C Compliant HTML5 & CSS3
                %li Premium Plugins Included
            .table-footer
              %a.btn{:href => "#"} Sign Up
          / End Pricing Table 1-4
          / Pricing Table 1-4
          .pricing-table.featured
            .ribbon
              .ribbon-label Featured
            .table-header
              .name Small Business
            .table-price
              .price
                %span> $
                299
              .price-description
                per month
            .table-features
              %ul
                %li Fully Responsive Layout
                %li Retina Display Ready
                %li Clean and Professional Design
                %li W3C Compliant HTML5 & CSS3
                %li Premium Plugins Included
            .table-footer
              %a.btn{:href => "#"} Sign Up
          / End Pricing Table 1-4
          / Pricing Table 1-4
          .pricing-table
            .table-header
              .name Professional
            .table-price
              .price
                %span> $
                699
              .price-description
                per month
            .table-features
              %ul
                %li Fully Responsive Layout
                %li Retina Display Ready
                %li Clean and Professional Design
                %li W3C Compliant HTML5 & CSS3
                %li Premium Plugins Included
            .table-footer
              %a.btn{:href => "#"} Sign Up
          / End Pricing Table 1-4
          / Pricing Table 1-4
          .pricing-table
            .table-header
              .name Enterprise
            .table-price
              .price
                %span> $
                1199
              .price-description
                per month
            .table-features
              %ul
                %li Fully Responsive Layout
                %li Retina Display Ready
                %li Clean and Professional Design
                %li W3C Compliant HTML5 & CSS3
                %li Premium Plugins Included
            .table-footer
              %a.btn{:href => "#"} Sign Up
          / End Pricing Table 1-4
      .row
        .pricing-tables.three-tables
          / Pricing Table 1-3
          .pricing-table
            .table-header
              .name Small Business
            .table-price
              .price
                %span> $
                299
              .price-description
                per month
            .table-features
              %ul
                %li Fully Responsive Layout
                %li Retina Display Ready
                %li Clean and Professional Design
                %li W3C Compliant HTML5 & CSS3
                %li Premium Plugins Included
            .table-footer
              %a.btn{:href => "#"} Sign Up
          / End Pricing Table 1-3
          / Pricing Table 1-3
          .pricing-table.featured
            .ribbon
              .ribbon-label Featured
            .table-header
              .name Professional
            .table-price
              .price
                %span> $
                699
              .price-description
                per month
            .table-features
              %ul
                %li Fully Responsive Layout
                %li Retina Display Ready
                %li Clean and Professional Design
                %li W3C Compliant HTML5 & CSS3
                %li Premium Plugins Included
            .table-footer
              %a.btn{:href => "#"} Sign Up
          / End Pricing Table 1-3
          / Pricing Table 1-3
          .pricing-table
            .table-header
              .name Enterprise
            .table-price
              .price
                %span> $
                1199
              .price-description
                per month
            .table-features
              %ul
                %li Fully Responsive Layout
                %li Retina Display Ready
                %li Clean and Professional Design
                %li W3C Compliant HTML5 & CSS3
                %li Premium Plugins Included
            .table-footer
              %a.btn{:href => "#"} Sign Up
          / End Pricing Table 1-3
/ End Content
